/*
폰트 뭡니까? 글자와 관련된 부분입니다
폰트사이즈는 사이즈 바꿀때 쓰구요
단위는 rem 쓰면 됩니다
컬러, 글자의 색깔입니다
텍스트 얼라인은 정렬할때 씁니다

(실습)
기존에 있던 코드를 정리를 좀 할게요
이제 씨에스에스 파일은 다 지웁니다

디브 클래스네임 테스트 하나 만들고
테스트라고 써줍시다
그리고 씨에스에스 테스트를 써줄게요
*/

.test {
  font-size: 6rem;
  color: tomato;
  text-align: right;
  border: 1px solid black;
}

/*
폰트사이즈는 육 알이엠 정도로 했어요
소수점도 가능합니
사점오 알이엠과
사는 다르죠
컬러는 이미 실습했죠? 글자색입니다
저는 토마토라는 색으로 할게요
지금은 오른쪽정렬 적용하기위해
텍스트얼라인 라이트입니다
만약 왼쪽이면?
레프트
가운데정렬이면
라이트
양쪽정렬이면?
저스티파이입니다

정확한 결과를 보기 위해 보더를 써놨어요
보더는 다음 영상에서 다룹니다
씨에스에스 사용하다보면
기본제공하는 색이 촌스러울수 있어요
좀 세련된 색을 쓰고싶으면 구글링해봅시다
css color recommendation
하면 w3schools 에서 요새 트렌드도 나오고
컬러스 가보면 좀 세련된 색들도 나오네요
여기 확대해보면 
샾으로 시작하죠?
이걸 헥스코드라고 합니다
알지비 값을 표현한 번호에요
씨에스에스에서 바로 쓸 수 있습니다
저는 아쿠아가 맘에 드네요
복사해서
붙여넣기
하면 아쿠아가 되었죠?
레드도
촌스러운 레드 말고
조금 세련된 레드를 쓸수도 있어요
여기까지, 폰트 다루는 법을 알아봤습니다
*/